@import "bootstrap";
@import "font-awesome";

body {
  background-color: #f5f5f5;
  font-family: 'Josefin Sans', sans-serif;
}

.top-nav {
  background-color: white;
  border-bottom: 1px solid #edeeee;
  height: 70px;
  padding-top: 15px;
}

.top-nav .add {
  margin-top: 10px;
}

.top-nav .add a {
  font-weight: bold;
  color: #125688;
  font-size: 16px;
  padding-left: 8px;
}

.brand {
  color: #125688;
  font-size: 30px;
  font-family: 'Pacifico', cursive;
}

.gram {
  background-color: #fff;
  border-radius: .25rem;
  box-shadow: 0 1px 0 rgba(0,0,0,0.25);
  border: 1px solid #e8e8e8;
  margin-top: 40px;
  padding: 0;
}

.gram p, .gram .message {
  font-size: 18px;
  margin: 20px;
}

.gram.form {
  padding: 20px;
}

.gram-actions a {
  font-weight: bold;
  font-size: 16px;
  margin-right: 20px;
  margin-left: auto;
}

.handle {
  margin: 10px;
  color: #125688;
  font-weight: bold;
  font-size: 18px;
}

.comments {
  padding: 20px;
}

.comment {
  font-size: 16px;
  margin-top: 5px;
}

.comment-handle {
  color: #125688;
  font-weight: bold;
  font-size: 18px;
}

label {
  font-size: 18px;
}

input {
  font-size: 18px;
  font-weight: 400;
}

.my-btn {
  background-color: #125688;
  font-size: 24px;
  color: white;
}

.my-btn:hover {
  color: white;
}
